<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.category %></h2>
<h2><% @restaurant.reviews.each do |review|%>
      <%= review.content %>
      <%= review.rating %>
    <% end%></h2>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
